<app-warmup-panel />

@if (currentUser(); as user) {
  <header class="app-header">
    <div class="pw-container pw-cluster app-header__bar">
      <app-brand [name]="'common.appName' | translate" />
      <div class="pw-cluster app-header__user">
        <button mat-stroked-button type="button" [matMenuTriggerFor]="userMenu">
          {{ user.displayName }}
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
          <a mat-menu-item routerLink="/profile">{{ 'header.profile' | translate }}</a>
          <button mat-menu-item type="button" (click)="logout()">
            {{ 'header.logout' | translate }}
          </button>
        </mat-menu>
      </div>
    </div>
  </header>
}

<main class="app-main" [class.app-main--guest]="!currentUser()">
  @if (!currentUser()) {
    <app-brand size="lg" [name]="'common.appName' | translate" />
  }
  <router-outlet />
</main>
